---
---

@import "{{ site.theme }}";

.centerImgWrapper {
	width: 80%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

img.logo{
	padding-bottom: 15px;
}

.centerImgWrapper img {
	left: 0;
	right:0;
	top: 0;
	bottom:0;
	max-height: 100%;
	max-width: 100%;
	margin:auto;
	position:absolute;
}
